#modal {
    display: none;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 300px;
    background-color: brown;
}

#modal > p {
    margin: 0;
}

#modal.active {
    display: flex;
}