#modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 5rem;
    left: 50%;
    z-index: 2000;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 300px;
    background-color: brown;
    transform: translateX(-50%);
    border-radius: 6px;

}

#modal > p {
    margin: 0;
}

#modal > .search-field {
    width: 90%;
    border: 2px solid transparent;
    border-radius: 6px;
}

#modal > .search-field:focus-visible {
    outline: none;
}